
@{
    ViewData["Title"] = "Filter";
}



@model Mission13.Models.Bowler

<form method="post">
    <label asp-for="TeamID">Team</label>
    <select asp-for="TeamID">
        <option value="">Select a Team</option>
        @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
    </select>

    <button type="submit" class="btn btn-success btn-sm-float-end" asp-controller="Home" asp-action="filterview">Filter by Team</button>
</form>