@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Contact List of Bowlers in League</h1>

<table>

    <thead>
        <tr>
            <td>First Name</td>
            <td>Middle Initial</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
        </tr>
    </thead>


</table>